<%- include("partials/header"); %>
<h1>About</h1>

<center>
<img src="https://media4.giphy.com/media/ts8WhYmcU84eAQwPST/giphy.gif" alt="">
</center>
<h3>⚠WEB PAGE UNDER CONSTRUCTION⚠</h3>
<%- include("partials/footer"); %>
